:host {
    display: block;
    min-width: 20px;
    margin-left: 5px;
    margin-top: 1px;
    padding: 0 5px;
    background: #a19600;
    border-radius: 6px;
    color: #000;
    font-weight: bold;
    text-align: center;
    z-index: -1;
}
