:host {
    margin: 0;
    padding: 0;
    max-width: 32px;
    max-height: 32px;
}

.user-avatar__image {
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
    border: 1px solid rgb(211, 211, 211);
}
