:host {
    width: 100%;
    max-width: 800px;
    display: block;
    padding: var(--acua-layout-padding);
    box-sizing: border-box;
    overflow-y: auto;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
