{
    "**/*.html": ["npx prettier **/*.html --write", "git add"],
    "**/*.scss": [
        "npx prettier **/*.scss --write",
        "stylelint --fix",
        "git add"
    ],
    "**/*.ts": [
        "npx prettier **/*.ts --write",
        "eslint **/*.ts --fix",
        "git add"
    ]
}
