{
    "**/*.html": ["npx prettier **/*.html --write"],
    "**/*.scss": [
        "npx prettier **/*.scss --write",
        "stylelint --fix"
    ],
    "**/*.ts": [
        "npx prettier **/*.ts --write",
        "eslint **/*.ts --fix"
    ]
}
