{
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "bracketSameLine": false,
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "css"
}
