{
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "printWidth": 80,
    "arrowParens": "always",
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "ignore"
}