{
    "singleQuote": true,
    "tabWidth": 4,
    "endOfLine": "auto",
    "bracketSameLine": true,
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "trailingComma": "none"
}
