.sections {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .section-of-requests {
        padding: 0 15px;
        border: 1px solid #fff;
    }
}

ul {
    list-style: none;
}
