:host {
    width: 100%;
    height: stretch;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @supports (-moz-appearance: none) {
        height: 100%;
        min-height: -moz-available;
    }
}
