.monaco-tree-row {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    gap: 6px;
    cursor: pointer;
    padding-left: 32px;

    &.selected {
        background-color: rgba(65, 75, 236, 0.15) !important;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .monaco-tree-icon {
        width: 16px;
        height: 22px;
    }

    .monaco-tree-arrow {
        margin-left: -18px;
        width: 12px;
        height: 22px;
        line-height: 22px;
        position: relative;
        top: 2px;
        transform: rotate(-90deg);
        transition: all 0.2s;
    }

    .monaco-tree-arrow.open {
        transform: rotate(0deg);
        left: -2px;
        top: 0;
    }

    .monaco-tree-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 5px;
    }
}

.monaco-tree-row.vs-dark:hover {
    background: #2a2d2e;
}

.monaco-tree-row.vs-dark.active {
    background: rgb(63, 63, 70);
}

.monaco-tree-row.vs-light:hover {
    background: #e8e8e8;
}

.monaco-tree-row.vs-light.active {
    background: #e4e6f1;
}

.monaco-tree-row.hide {
    display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.monaco-tree-row .root-2 {
    .monaco-tree-icon {
        margin-left: 10px;
    }
}

.monaco-name-context {
    background: rgba(254, 245, 186, 1);
    color: #2a2d2e;
    position: absolute;
    top: 8px;
    left: 60px;
    z-index: 55;
}
