<div
    [class]="rowCssClassesAsString"
    [class.selected]="isSelected"
    [ngClass]="adaptiveRow"
    (click)="onButtonToggle()"
>
    <span [style.margin-left]="marginLeftStyleValue"></span>
    <i *ngIf="doChildrenExist" [class]="arrowCssClassesAsString"></i>
    <img [src]="fileExplorerIconSrc" [ngClass]="adaptiveIcon" />
    <div [title]="node.fullPath" class="monaco-tree-name">
        {{ node.name }}
    </div>
</div>

<ng-container *ngIf="isAllowedToRender">
    <acua-file-tree-node
        *ngFor="let node of node.children"
        [node]="node"
        [depth]="incrementedDepth"
        [hide]="isHidden"
        (fileSelected)="onFileSelected($event)"
    >
    </acua-file-tree-node>
</ng-container>
