<mat-card
    [routerLink]="reviewPageLink"
    [relativeTo]="activatedRoute">
    <mat-card-header>
        <acua-user-avatar
            mat-card-avatar
            class="user-avatar"
            [avatarUrl]="data.user.photoUrl"></acua-user-avatar>

        <mat-card-title>
            {{ data.user.firstName }} {{ data.user.lastName }}
        </mat-card-title>

        <mat-card-subtitle>{{ data.date | date }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        {{ data.description }}
    </mat-card-content>
</mat-card>
