<mat-card [routerLink]="reviewPageLink" [relativeTo]="activatedRoute">
    <mat-card-header>
        <acua-user-avatar mat-card-avatar class="user-avatar"></acua-user-avatar>
        <mat-card-title>{{ data.user.firstName }} {{ data.user.lastName }}</mat-card-title>
        <mat-card-subtitle>{{ data.title }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{ data.date | date }}
        </p>

        <p>
            {{ data.description }}
        </p>
    </mat-card-content>
</mat-card>
