@import 'mixins';

.comment-amount {
    @include display-flex(row, center, center);

    min-width: 16px;
    height: 16px;
    padding: 3px;
    margin-left: auto;
    margin-right: 3px;
    box-sizing: border-box;
    text-align: center;
    color: #a49904;
    font-size: 14px;
    font-weight: 500;
}
