.comment-amount {
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    margin-left: auto;
    box-sizing: border-box;
    border-radius: 6px;
    background: #a49904;
    text-align: center;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
