:host {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #17191b;
    border-bottom: solid 1px #101113;
    box-sizing: border-box;

    .btn-menu {
        background-color: transparent;
        border-radius: 50%;
        border: 0;
        cursor: pointer;

        .btn-menu-icon {
            margin-top: 1px;
            color: #fff;
        }
    }
}
