:host {
    display: block;
    width: 20px;

    margin-left: 5px !important;
    margin-top: 3px !important;

    background: #fff000;
    border-radius: 16px;
    z-index: 0;

    color: #000;
    text-align: center;
    cursor: pointer;
}
