@import 'mixins';

:host {
    @include display-flex(row, center, flex-start);

    display: flex !important;
    margin-left: 20px;
    margin-top: 2px;
    text-align: center;
    z-index: -1;
    color: #a5a5a5;
    font-size: 14px;
}
