:host {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 57px;
    height: 57px;
    padding: var(--acua-layout-padding);
    align-items: center;
    background-color: hsl(220deg 10.43% 15.83%);
    box-sizing: border-box;
    z-index: 999;

    .logo {
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
        display: flex;
        align-items: center;
        color: #f1f1f1;
        text-decoration: none;

        &-image {
            margin-right: 8px;
            max-height: 45px;
            max-width: 45px;
        }
    }
}
