<mat-table
  class="request-table__table"
  [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let element">{{element.date | date}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="user">
    <mat-header-cell mat-header-cell *matHeaderCellDef>User</mat-header-cell>
    <mat-cell
      mat-cell *matCellDef="let element">
      <acua-user-avatar
      [userName]="element.user"
      ></acua-user-avatar>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    (click)="handleTableRowClick(1)"
    class="request-table__row"
    matRipple *matRowDef="let row;
    columns: displayedColumns;"></mat-row>
</mat-table>
