<form [formGroup]="form" class="request-form">
    <mat-form-field>
        <mat-label>Назва</mat-label>
        <input matInput type="text" [formControl]="nameControl" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Опис</mat-label>
        <textarea matInput [formControl]="descriptionControl"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Посилання на Stackblitz або Github</mat-label>
        <input
            matInput
            type="text"
            [formControl]="linkControl"
            (input)="onLinkChange()"
        />
        <mat-error *ngIf="linkControl.hasError('required')">
            Посилання на проєкт є обов'язковим.
        </mat-error>
        <mat-error *ngIf="linkControl.hasError('linkValidate')">
            Приймаються посилання на stackblitz проєкти та github репозиторії.
        </mat-error>
    </mat-form-field>
    <ng-container *ngIf="iframeLink$ | async as iframeLink">
        <iframe
            *ngIf="valid"
            class="request-form__iframe"
            [src]="iframeLink | safe"
            frameborder="0"
        >
        </iframe>
    </ng-container>
</form>
