<form
    [formGroup]="formGroup"
    class="request-form">
    <mat-form-field
        class="form-field"
        [appearance]="'outline'">
        <mat-label>Посилання на Stackblitz або Github</mat-label>

        <input
            matInput
            type="text"
            [formControl]="formGroup.controls.sourceUrl" />

        <mat-error *ngIf="formGroup.controls.sourceUrl.hasError('required')">
            Посилання на проєкт є обов'язковим.
        </mat-error>

        <mat-error
            *ngIf="formGroup.controls.sourceUrl.hasError('sourceUrlInvalid')">
            Приймаються посилання на stackblitz проєкти та github репозиторії.
        </mat-error>
    </mat-form-field>

    <mat-form-field
        class="form-field"
        [appearance]="'outline'">
        <mat-label>Опис</mat-label>

        <textarea
            matInput
            [formControl]="formGroup.controls.description"></textarea>

        <mat-error *ngIf="formGroup.controls.sourceUrl.hasError('required')">
            Уточніть, що саме ви хотіли б почути від спільноти.
        </mat-error>
    </mat-form-field>

    <ng-container
        *ngIf="iframeLink$ | async as iframeLink; else noPreviewTemplate">
        <iframe
            *ngIf="formGroup.valid"
            class="project-preview"
            [src]="iframeLink | safeResourceUrl"
            frameborder="0"></iframe>
    </ng-container>
</form>

<ng-template #noPreviewTemplate>
    <div class="project-preview empty">
        Тут ви побачите попередній перегляд вашого проєкту.
    </div>
</ng-template>
