<form [formGroup]="form" class="request-form">
    <mat-form-field>
        <mat-label>Назва</mat-label>
        <input matInput type="text" [formControl]="nameControl" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Опис</mat-label>
        <textarea matInput [formControl]="descriptionControl"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Посилання на Stackblitz або Github</mat-label>
        <input matInput type="text" [formControl]="linkControl" />
        <mat-error *ngIf="hasControlError('link')">
            {{ getLastControlError('link') }}
        </mat-error>
    </mat-form-field>
    <iframe
        class="request-form__iframe"
        *ngIf="iframeLink"
        [src]="iframeLink"
        frameborder="0"
    ></iframe>
</form>
