:host {
    .user-button {
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;

        .user-avatar {
            max-width: 40px;
            max-height: 40px;
        }
    }
}

button {
    border: 0;
    outline: none;
    background-color: transparent;
}
