<button class="user-button" [matMenuTriggerFor]="menu">
    <acua-user-avatar
        *ngIf="user$ | async as user"
        class="user-avatar"
        [avatarUrl]="user!.photoUrl"
    >
    </acua-user-avatar>

    <img src="assets/icons/down-arrow.svg" alt="down-arrow" />
</button>

<mat-menu #menu="matMenu">
    <button [routerLink]="homeRouteEnum.CodeReview" mat-menu-item>
        <mat-icon>code</mat-icon>

        Код-ревью
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="onLogoutButtonClick()">
        <mat-icon>logout</mat-icon>

        Вийти
    </button>
</mat-menu>
