<h2
    mat-dialog-title
    class="title">
    Запит на Код-Ревью
</h2>

<mat-dialog-content
    *acuaLet="openedReviewRequest$ | async as openedReviewRequest">
    <div class="info">
        <acua-user-avatar
            class="user-avatar"
            [avatarUrl]="openedReviewRequest!.user.photoUrl"></acua-user-avatar>
        <div class="info-request">
            <p class="user-name">{{ openedReviewRequest!.user.username }}</p>
            <p class="date">{{ openedReviewRequest!.date | date }}</p>
        </div>
    </div>

    <div>
        <p>{{ openedReviewRequest!.description }}</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions [align]="'end'">
    <button
        mat-button
        [mat-dialog-close]="true">
        Закрити
    </button>
</mat-dialog-actions>
