:host {
    width: 100%;
    height: stretch;
    display: flex;
    flex-direction: column;

    @supports (-moz-appearance: none) {
        height: 100%;
        min-height: -moz-available;
    }
}

.container {
    flex: 1;
    overflow: hidden;

    .mat-drawer {
        background-color: #202327;
        border: 0;
    }

    .mat-drawer-desktop {
        width: auto;
        min-width: 300px;
        max-width: 35%;
    }

    .mat-drawer-mobile {
        width: 75%;
    }
}
