<acua-header
    class="header"
    (toggleFileExplorer)="toggleFileExplorer()"
></acua-header>

<mat-drawer-container class="container">
    <mat-drawer
        mode="side"
        class="mat-drawer-desktop"
        *ngIf="!isMobile"
        [opened]="isFileExplorerOpenDesktop"
    >
        <acua-file-explorer
            [tree]="tree"
            class="file-explorer"
            (fileSelected)="onFileSelected($event)"
        ></acua-file-explorer>
    </mat-drawer>
    <mat-drawer-content>
        <acua-code-editor class="code-editor"></acua-code-editor>
    </mat-drawer-content>

    <mat-drawer
        mode="over"
        class="mat-drawer-mobile"
        *ngIf="isMobile"
        [opened]="isFileExplorerOpenMobile"
    >
        <acua-file-explorer
            [tree]="tree"
            class="file-explorer"
            (fileSelected)="onFileSelected($event)"
        ></acua-file-explorer>
    </mat-drawer>
    <mat-drawer-content>
        <acua-code-editor class="code-editor"></acua-code-editor>
    </mat-drawer-content>
</mat-drawer-container>
