<ng-template
    [ngxAsync]="dependencies$"
    [ngxAsyncLoading]="loaderTemplate">
    <acua-header
        class="header"
        (hamburgerMenuButtonClick)="onHeaderHamburgerMenuButtonClick()" />

    <mat-drawer-container class="container">
        <mat-drawer
            class="mat-drawer"
            [mode]="drawerMode()"
            [opened]="isSidenavOpened()">
            <acua-sidebar />
        </mat-drawer>

        <mat-drawer-content>
            <acua-code-editor
                (success)="setFileFromQuery()"
                class="code-editor" />
        </mat-drawer-content>
    </mat-drawer-container>
</ng-template>

<ng-template #loaderTemplate>
    <acua-loader [label]="'Завантаження проєкту...'" />
</ng-template>
