:host {
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    height: fill-available;
    min-height: -moz-available;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}
