@import 'mixins.scss';

:host {
    width: 100%;
    height: stretch;
    display: flex;
    flex-direction: column;

    @supports (-moz-appearance: none) {
        height: 100%;
        min-height: -moz-available;
    }
}

.container {
    flex: 1;
    overflow: hidden;

    .mat-drawer {
        width: auto;
        max-width: 350px;
        min-width: 300px;
        border: 0;

        @include for-mobile-only {
            width: 75%;
        }
    }
}
