<acua-header
    class="header"
    (hamburgerMenuButtonClick)="onHeaderHamburgerMenuButtonClick()"
></acua-header>

<mat-drawer-container class="container" *ngIf="sourceCode | async; else isLoader">
    <mat-drawer
        [mode]="mode"
        class="mat-drawer"
        [ngClass]="adaptiveClasses"
        [opened]="isSidenavOpened"
    >
        <acua-file-explorer
            [tree]="tree"
            class="file-explorer"
            (fileSelected)="onFileSelected($event)"
        ></acua-file-explorer>
    </mat-drawer>

    <mat-drawer-content>
        <acua-code-editor class="code-editor"></acua-code-editor>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #isLoader>
    <acua-loader></acua-loader>
</ng-template>
