.acua-code-editor {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border: 0;

    .view-lines {
        cursor: pointer;
    }

    .cursors-layer {
        display: none;
    }
}

.acua-editor-line-decoration {
    cursor: pointer;

    &.acua-has-comments {
        background: #f8ef7309;
    }

    &:hover {
        background: #fded1031;
    }

    z-index: 1;
}
