.acua-code-editor {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border: 0;

    .view-lines {
        cursor: pointer;
    }

    .cursors-layer {
        display: none;
    }
}

.acua-editor-line-decoration {
    z-index: 1;
    cursor: pointer;

    &.acua-has-comments {
        background: rgb(26, 26, 26);
        z-index: -3;
    }

    &:hover {
        background: #a29d4f31;
    }
}
