acua-code-editor {
    width: 100%;
    min-height: 100%;
    display: block;
    overflow: hidden;
    border: 0;
}

.acua-editor-highlight-line {
    background: #fded1016;
}

.acua-editor-selected-line {
    background: #fded1052;
}

.cursor-pointer {
    cursor: pointer;
}
