html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: rgb(var(--background-color));
    color: rgb(var(--text-color));
}

.selected-line {
    background: #fded1052;
}

.counter {
    width: 20px;

    margin-left: 20px;
    margin-top: 2px;

    background: #fff000;
    border-radius: 16px;
    z-index: 0;

    &-text {
        color: #000;
        text-align: center;
        margin: 0;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}
