<div class="all-requests">
    <h2>Список запитів на код-ревью</h2>

    <div class="request-list">
        <div class="request">
            1 запит...

            <mat-chip-listbox>
                <mat-chip>
                    Opened
                </mat-chip>
            </mat-chip-listbox>
        </div>
        <div class="request">
            2 запит...

            <mat-chip-listbox>
                <mat-chip>
                    Opened
                </mat-chip>
            </mat-chip-listbox>
        </div>
        <div class="request">
            3 запит...

            <mat-chip-listbox>
                <mat-chip>
                    Opened
                </mat-chip>
            </mat-chip-listbox>
        </div>
    </div>
</div>
