:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: auto;
    width: 150px;
    background-color: #fff;
    border: 1px solid rgb(211, 211, 211);
    text-align: center;

    a:not(:last-child) {
        border-bottom: 1px solid rgb(211, 211, 211);
    }
}

a {
    padding: 15px;
    text-decoration: none;
    color: inherit;
}
